@import "compass/css3/transition";

header {
  position: fixed;
  width: 100%;
  height: 80px;
  font-family: 'Martel', serif;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  background-color: rgba(36,10,0,1); // $dark-red;
  padding: 20px;
  @include transition( background-color .3s ease-out, height .3s ease-out );
  &.light {
    height: 60px;
    font-size: 16px;
    background-color: rgba(36,10,0,0.3); // $dark-red;
    border-bottom: 1px solid $dark-red;
  }

  .logo {
    display: inline;
    float: left;
    img {

    }
  }

  nav {
    float: right;
    li {
      position: relative;
      display: inline;
      margin-right: 20px;
      color: $light-red;
      cursor: pointer;
      a {
        overflow: hidden;
        @include transition( font-size .3s ease-out, color .3s ease-out, height .3s ease-out );
      }
      a.hover {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        color: $light-cream;
      }

      &:hover {
        a.hover {
          height: 40px;
          text-decoration: underline;
        }
      }
    }
  }
}

footer {
  height: 40px;
  background-color: $light-red;
  padding: 10px 20px;
  div {
    display: inline;
    float: right;
    margin-right: 20px;
  }
}