/* line 11, ../sass/_html5reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 21, ../sass/_html5reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 27, ../sass/_html5reset.scss */
img, object, embed {
  max-width: 100%;
}

/* line 31, ../sass/_html5reset.scss */
html {
  overflow-y: scroll;
}

/* line 37, ../sass/_html5reset.scss */
ul {
  list-style: none;
}

/* line 41, ../sass/_html5reset.scss */
blockquote, q {
  quotes: none;
}

/* line 45, ../sass/_html5reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../sass/_html5reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 56, ../sass/_html5reset.scss */
del {
  text-decoration: line-through;
}

/* line 59, ../sass/_html5reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* line 64, ../sass/_html5reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 68, ../sass/_html5reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 72, ../sass/_html5reset.scss */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 76, ../sass/_html5reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 84, ../sass/_html5reset.scss */
input, select {
  vertical-align: middle;
}

/* line 87, ../sass/_html5reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 93, ../sass/_html5reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 96, ../sass/_html5reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

/* line 100, ../sass/_html5reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 103, ../sass/_html5reset.scss */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 106, ../sass/_html5reset.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 112, ../sass/_html5reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 115, ../sass/_html5reset.scss */
small {
  font-size: 85%;
}

/* line 118, ../sass/_html5reset.scss */
strong, th {
  font-weight: bold;
}

/* line 121, ../sass/_html5reset.scss */
td, td img {
  vertical-align: top;
}

/* line 126, ../sass/_html5reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 131, ../sass/_html5reset.scss */
sup {
  top: -0.5em;
}

/* line 134, ../sass/_html5reset.scss */
sub {
  bottom: -0.25em;
}

/* line 139, ../sass/_html5reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 143, ../sass/_html5reset.scss */
.clickable, label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 147, ../sass/_html5reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 151, ../sass/_html5reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 156, ../sass/_html5reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 160, ../sass/_html5reset.scss */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* line 165, ../sass/_html5reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 171, ../sass/_html5reset.scss */
.clearfix:after {
  clear: both;
}

/* line 174, ../sass/_html5reset.scss */
.clearfix {
  zoom: 1;
}

/* devanagari */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  src: local("Martel"), local("Martel-Regular"), url(http://fonts.gstatic.com/s/martel/v1/7tRfggpzhWENtWgZSoYI9H-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  src: local("Martel"), local("Martel-Regular"), url(http://fonts.gstatic.com/s/martel/v1/CHVdVHGJw-fipFTMa9SiiH-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  src: local("Martel"), local("Martel-Regular"), url(http://fonts.gstatic.com/s/martel/v1/ovCvXzSjesSyDxdnHqyGiuvvDin1pK8aKteLpeZ5c0A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* devanagari */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 900;
  src: local("Martel Heavy"), local("Martel-Heavy"), url(http://fonts.gstatic.com/s/martel/v1/LYmDRwD7lGmgNAI0BhaAlYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 900;
  src: local("Martel Heavy"), local("Martel-Heavy"), url(http://fonts.gstatic.com/s/martel/v1/VhRHlP7hu3u15zVI8zkGYIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 900;
  src: local("Martel Heavy"), local("Martel-Heavy"), url(http://fonts.gstatic.com/s/martel/v1/6qlcTvSyKvyk4OhhaCbMtpBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  src: local("Josefin Sans Thin"), local("JosefinSans-Thin"), url(http://fonts.gstatic.com/s/josefinsans/v9/q9w3H4aeBxj0hZ8Osfi3d_ZLGUYxk5QQ1Un914Iccq4.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  src: local("Josefin Sans Thin"), local("JosefinSans-Thin"), url(http://fonts.gstatic.com/s/josefinsans/v9/q9w3H4aeBxj0hZ8Osfi3dzUBvlJYYQI_sDPKrlKoP9Q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Josefin Sans"), local("JosefinSans"), url(http://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ojoYw3YTyktCCer_ilOlhE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Josefin Sans"), local("JosefinSans"), url(http://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5hampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* line 91, ../sass/base.scss */
body {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
}

/* line 96, ../sass/base.scss */
header, footer, div, section {
  box-sizing: border-box;
}

/* line 3, ../sass/layout.scss */
header {
  position: fixed;
  width: 100%;
  height: 80px;
  font-family: 'Martel', serif;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #240a00;
  padding: 20px;
  -moz-transition: background-color 0.3s ease-out, height 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out, height 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out, height 0.3s ease-out;
  transition: background-color 0.3s ease-out, height 0.3s ease-out;
}
/* line 14, ../sass/layout.scss */
header.light {
  height: 60px;
  font-size: 16px;
  background-color: rgba(36, 10, 0, 0.3);
  border-bottom: 1px solid #240A00;
}
/* line 21, ../sass/layout.scss */
header .logo {
  display: inline;
  float: left;
}
/* line 29, ../sass/layout.scss */
header nav {
  float: right;
}
/* line 31, ../sass/layout.scss */
header nav li {
  position: relative;
  display: inline;
  margin-right: 20px;
  color: #A44026;
  cursor: pointer;
}
/* line 37, ../sass/layout.scss */
header nav li a {
  overflow: hidden;
  -moz-transition: font-size 0.3s ease-out, color 0.3s ease-out, height 0.3s ease-out;
  -o-transition: font-size 0.3s ease-out, color 0.3s ease-out, height 0.3s ease-out;
  -webkit-transition: font-size 0.3s ease-out, color 0.3s ease-out, height 0.3s ease-out;
  transition: font-size 0.3s ease-out, color 0.3s ease-out, height 0.3s ease-out;
}
/* line 41, ../sass/layout.scss */
header nav li a.hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  color: #F3C9A1;
}
/* line 50, ../sass/layout.scss */
header nav li:hover a.hover {
  height: 40px;
  text-decoration: underline;
}

/* line 59, ../sass/layout.scss */
footer {
  height: 40px;
  background-color: #A44026;
  padding: 10px 20px;
}
/* line 63, ../sass/layout.scss */
footer div {
  display: inline;
  float: right;
  margin-right: 20px;
}

/*# sourceMappingURL=app.css.map */
